<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
    <link rel="icon" href="/static/enroller/favicon.jpg">
</head>
<body>
    <form action="{% url 'validateResetToken' %}" method="post">
    {% csrf_token %}
        <div class="container">
            <label><b>Reset Token</b></label>
            <input type="text" placeholder="Reset Token" name="token" required>
            <br>
            {% if errorMessage %}<p><strong>{{ errorMessage }}</strong></p>{% endif %}
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>