<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
</head>
<body>
    <form action="{% url 'setNewPwd' %}" method="post">
    {% csrf_token %}
        <div class="container">
            <label><b>New Password</b></label>
            <input type="password" placeholder="New Password" name="newPwd" required>
            <br>
            {% if errorMessage %}<p><strong>{{ errorMessage }}</strong></p>{% endif %}
            <input type="submit" value="Reset Password" />
        </div>
    </form>
</body>
</html>